@import "./Theme.scss";

#header-container,
#middle-container {
  display: flex;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#middle-container {
  flex-grow: 1;
  overflow: hidden;
}

#footer-container {
  display: flex;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 10px;
  justify-content: space-between;

  .footer-info {
    margin-right: 10px;
    a {
      margin-left: 3px;
      margin-right: 3px;
    }

    .homepage-card-settings-holder {
      cursor: pointer;
    }
  }

  div {
    display: flex;
    width: max-content;
    padding: 2px 5px;
    background-color: rgba($backgrounds, 0.7);
    border-radius: 10px;
  }
}

#footer-dropdown {
  display: none;
}

@media only screen and (max-width: $mobileWidth) {
  #header-container,
  #middle-container,
  #footer-container {
    flex-direction: column;
  }

  .homepage-card {
    width: 95% !important;
    min-width: 95% !important;
    margin: 3px;
  }

  #middle-container {
    margin-right: 0px;
    padding-right: 20px;
    .homepage-card {
      min-height: 300px;
      height: auto;
    }
    overflow: auto;
  }

  #footer-container {
    display: none;
  }

  #footer-dropdown {
    display: block;
    position: absolute;
    right: 2px;
    top: 2px;

    .dropdown {
      text-align: center;
    }
    
    .footer-dropdown-button {
      background: $backgrounds;
      border-radius: 10px;
      padding: 0 10px;
      border: none;
      color: $texts;
    }

    .dropdown-menu.show {
      background: $backgrounds;
      .dropdown-item {
        color: $texts !important;

        .footer-info {
          margin-top: 5px;
          display: flex;
          justify-content: center;
          width: 100%;
          align-items: center;
          * {
            margin: 2px;
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }
      }
      .dropdown-item:hover {
        background: $components;
      }
    }
  }
}
