@import "./Theme.scss";


body {
  text-shadow: rgba(#000, 0.6) 2px 2px 10px;
}

.close {
  color: $error !important;
}

.homepage-card {
  justify-content: space-around;
  background-color: rgba($backgrounds, $cards-opacity);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

#header-container,
#middle-container {
  display: flex;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#middle-container {
  flex-grow: 1;
  overflow: hidden;
}

#footer-container {
  display: flex;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 10px;
  justify-content: space-between;

  .footer-info {
    margin-right: 10px;
    a {
      margin-left: 3px;
      margin-right: 3px;
    }

    .homepage-card-settings-holder, .homepage-toggle-background {
      cursor: pointer;
    }
  }

  div {
    display: flex;
    width: max-content;
    padding: 2px 5px;
    background-color: rgba($backgrounds, $cards-opacity);
    border-radius: 10px;
  }
}

#footer-dropdown {
  display: none;
}

#header-container {
  .homepage-card {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.homepage-card-header {
  display: flex;
  justify-content: space-between;

  .homepage-card-settings-holder {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    .homepage-card-settings {
      font-size: 24px;
    }
  }
}

.text-input {
  color: $texts;
  padding: 5px 10px;
  background: rgba($backgrounds, $entries-opacity);
  border: none;
  border-radius: 10px;
  width: 100%;
  transition: all 1s;
}

.text-input:focus {
  outline: none;
}

.checkbox-input {
  input {
    width: auto !important;
    margin: 5px !important;
  }
}

#middle-container.card-count-1 {
  .homepage-card {
    width: 50%;
  }
}

#middle-container.card-count-2 {
  .homepage-card {
    width: 50%;
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media only screen and (max-width: $mobileWidth) {
  body {
    background-size: cover;
  }

  #header-container,
  #middle-container,
  #footer-container {
    flex-direction: column;
  }

  .homepage-card {
    width: 95% !important;
    min-width: 95% !important;
    margin: 3px;
  }

  #middle-container {
    margin-right: 0px;
    padding-right: 20px;
    .homepage-card {
      min-height: 300px;
      height: auto;
    }
    overflow: auto;
  }

  #footer-container {
    display: none;
  }

  #footer-dropdown {
    display: block;
    position: absolute;
    right: 2px;
    top: 2px;

    .dropdown {
      text-align: center;
    }
    
    .footer-dropdown-button {
      background: $backgrounds;
      border-radius: 10px;
      padding: 0 10px;
      border: none;
      color: $texts;
    }

    .dropdown-menu.show {
      background: $backgrounds;
      .dropdown-item {
        color: $texts !important;

        .footer-info {
          margin-top: 5px;
          display: flex;
          justify-content: center;
          width: 100%;
          align-items: center;
          * {
            margin: 2px;
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }
      }
      .dropdown-item:hover {
        background: $components;
      }
    }
  }
}
