@import "./Theme.scss";

#header-container,
#middle-container {
  display: flex;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#middle-container {
  flex-grow: 1;
  overflow: hidden;
}

#footer-container {
  display: flex;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 10px;
  justify-content: space-between;

  .footer-info {
    margin-right: 10px;
    a {
      margin-left: 3px;
      margin-right: 3px;
    }

    .homepage-card-settings-holder {
      cursor: pointer;
    }
  }

  div {
    display: flex;
    width: max-content;
    padding: 2px 5px;
    background-color: rgba($backgrounds, 0.7);
    border-radius: 10px;
  }
}

@media only screen and (max-width: 500px) {
  #header-container,
  #middle-container,
  #footer-container {
    flex-direction: column;
  }

  .homepage-card {
    width: 95% !important;
    min-width: 95% !important;
  }

  #middle-container {
    .homepage-card {
      min-height: 300px;
      height: auto;
    }
    overflow: auto;
  }

  #footer-container {

    font-size: 10px;
    margin-right: 10px;
    .footer-info {
      margin-top: 5px;
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
    }
  }
}
