@import "./Theme.scss";

#header-container,
#middle-container {
  display: flex;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#middle-container {
  flex-grow: 1;
  overflow: hidden;
}

#footer-container {
  display: flex;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 10px;
  justify-content: space-between;

  .footer-info {
    margin-right: 10px;
    a {
      margin-left: 3px;
      margin-right: 3px;
    }

    .homepage-card-settings-holder {
      cursor: pointer;
    }
  }

  div {
    display: flex;
    width: max-content;
    padding: 2px 5px;
    background-color: rgba($backgrounds, 0.7);
    border-radius: 10px;
  }
}
