@import "./Theme.scss";

#calendar-clock, #calendar-today, #weather {
  text-align: center;
}

#calendar-container {
  overflow-y: auto;


  #cache-status-container {
    margin: 10px;
    h6 {
      display: inline;
      margin-right: 10px;
    }

    #refresh-cache-button {
      display: inline;
      padding: 5px;
      border-radius: 10px;
      background-color: rgba($backgrounds, $entries-opacity);
      cursor: pointer;
    }
  }
}

.gcalendar-events {
  background-color: rgba($backgrounds, $entries-opacity) !important;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 14px;

  div {
    padding: 2px;
    border-radius: 8px;
    margin: 1px;
    margin-bottom: 2px;
  }
}

