@import "./Theme.scss";

#calendar-clock, #calendar-today, #weather {
  text-align: center;
}

#calendar-container {
  overflow-y: auto;
}

.gcalendar-events {
  background-color: rgba($backgrounds, 0.55) !important;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 14px;

  div {
    padding: 2px;
    border-radius: 8px;
    margin: 1px;
    margin-bottom: 2px;
  }
}
