@import "./Theme.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: $backgrounds;
  height: 100%;

  color: $texts;

  -webkit-transition: background-image 3s ease-in-out;
  transition: background-image 1s ease-in-out;
}

html {
  height: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: rgba($backgrounds, $cards-opacity) !important;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $backgrounds;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($backgrounds, $entries-opacity) !important;
  border-radius: 10px;
}
