@import "./Theme.scss";

#search-bar-container {
  width: 30%;
  display: flex;

  input {
    color: $texts;
    padding: 5px 10px;
    background: $backgrounds;
    border: none;
    border-radius: 10px;
    width: 100%;
    transition: all 1s;
  }

  input:focus {
    outline: none;
  }

  button {
    outline: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    img {
      width: 32px;
      height: 32px;
    }
  }
}
