@import "./Theme.scss";

#search-bar-container {
  width: 33%;
  display: flex;

  input {
    color: $texts;
    padding: 5px 10px;
    background: $backgrounds;
    border: none;
    border-radius: 10px;
    width: 100%;
    transition: all 1s;
  }

  input:focus {
    outline: none;
  }

  button {
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    .icon {
      width: 32px;
      height: 32px;
    }
  }
}

#search-bar-container.expanded {
  width: 100%;
}

@media only screen and (max-width: $mobileWidth) {
  #search-bar-container {
    width: 95%;
  }
}
