$backgrounds: #212121;
$backgroundsSecondary: #303030;
$components: #424242;
$texts: #eee;

$success: #2ecc71;
$warning: #f1c40f;
$info: #686de0;
$error: #e74c3c;
$waiting: #30336b;

$mobileWidth: 600px;

$cards-opacity: 0.5;
$entries-opacity: 0.5;
