@import "./Theme.scss";

#todo-box {
  width: 30%;
  min-width: 30%;
  overflow-y: auto;

  #todo-new-entry {
    color: $texts;
    padding: 4px 4px;
    background: $backgrounds;
    border: none;
    border-radius: 10px;
    width: 100%;
    transition: all 1s;
    outline: none;
    margin: 0 0 10px 0;
    align-self: center;
  }

  .todo-entry {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

    .todo-entry-holder {
      display: flex;

      .todo-entry-text {
        word-break: break-all;
      }

      .todo-checkbox {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 5px;
        cursor: pointer;
        height: 20px;
        width: 20px;
      }

      div.checked {
        text-decoration: line-through;
      }
    }
  }

  .todo-entry-actions {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    .todo-entry-action {
      margin-left: 5px;
      cursor: pointer;
    }
  }
}
