@import "./Theme.scss";

#todo-box {
  overflow-y: auto;

  .todo-entry {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

    .todo-entry-holder {
      display: flex;

      .todo-entry-text {
        word-break: break-all;
      }

      .todo-checkbox {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 5px;
        cursor: pointer;
        height: 20px;
        width: 20px;
      }

      div.checked {
        text-decoration: line-through;
        color: #939999;

      }

      .icon-checked {
        color: #939999;
      }

      .todo-entry-text.edit{
        input {
          background: transparent;
          color: $texts;
          border: none;
        }
      }
    }
  }

  .todo-entry-actions {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    .todo-entry-action {
      margin-left: 5px;
      cursor: pointer;
    }
  }
}
