@import "./Theme.scss";

#homepage-trello {
  overflow-y: auto;
}

.trello-status {
  font-size: 120px;
  padding: 20px;
}

.trello-status-container {
  text-align: center;
}

.trello-status.error {
  color: $error;
}

.trello-status.success {
  color: $success;
}

.trello-navigator {
  .trello-dropdown-button {
    h3,
    h6 {
      margin-bottom: 0;
    }
    background: $components;
    border: none;
    border-radius: 10px;
    color: $texts;
    outline: none;
  }

  .dropdown-menu.show {
    background: $backgrounds;
    .dropdown-item {
      color: $texts !important;
    }
    .dropdown-item:hover {
      background: $components;
    }
  }
}

.trello-board-navigator {
  display: flex;
  justify-content: center;
}

.trello-list-navigator {
  .icon {
    cursor: pointer;
    font-size: 28px;
    width: 20px;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trello-card {
  background-color: rgba($backgrounds, 0.8) !important;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;

  .trello-card-content {
    display: flex;
    justify-content: space-between;
  }

  .trello-card-action-anchor {
    color: $texts;
  }

  .trello-card-due {
    margin-top: 2px;
    margin-right: auto;
    background: $info;
    padding: 1px 3px;
    border-radius: 5px;
    font-size: 14px;
  }

  .trello-card-checklists {
    margin-top: 5px;
    margin-right: auto;
    .trello-card-checklist {
      .icon {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 5px;
      }
      display: inline-flex;
      font-weight: bold;
      text-align: center;
      margin-right: 5px;
      padding: 1px 8px;
      border-radius: 5px;
      font-size: 12px;
      background-color: $waiting;
    }
    .trello-card-checklist.completed {
      background-color: $success;
    }
  }

  .trello-card-labels {
    margin-right: auto;

    .trello-card-label {
      display: inline-flex;
      font-weight: bold;
      min-width: 50px;
      text-align: center;
      margin-right: 5px;
      padding: 1px 8px;
      border-radius: 5px;
      font-size: 12px;
    }
  }
}
