@import "./Theme.scss";

#homepage-trello {
  flex-grow: 1;
  overflow-y: auto;
}

.trello-status {
  font-size: 120px;
  padding: 20px;
}

.trello-status-container {
  text-align: center;
}

.trello-status.error {
  color: $error;
}

.trello-status.success {
  color: $success;
}

.trello-card {
  background-color: rgba($backgrounds, 0.8) !important;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;

  .trello-card-content {
    display: flex;
    justify-content: space-between;
  }

  .trello-card-action-anchor {
    color: $texts;
  }

  .trello-card-due {
    margin-top: 2px;
    margin-right: auto;
    background: $info;
    padding: 1px 3px;
    border-radius: 5px;
    font-size: 14px;
  }

  .trello-card-labels {
    margin-right: auto;

    .trello-card-label {
      display: inline-flex;
      font-weight: bold;
      min-width: 50px;
      text-align: center;
      margin-right: 5px;
      padding: 1px 8px;
      border-radius: 5px;
      font-size: 12px;
    }
  }
}
